@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply border-border;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background: #3b82f6;
        border-radius: 8px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #2563eb;
    }

    ::-webkit-scrollbar-track {
        background: #1e293b;
        border-radius: 8px;
    }

    ::-webkit-scrollbar-corner {
        background: #1e293b;
    }

    body {
        @apply bg-background text-foreground;
    }

    :root {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;

        --ring: 217.2 32.6% 17.5%;
    }
}

pre[class*="language-"] {
    background: #1e1e1e;
    border-radius: 0.5rem;
}

code[class*="language-"] {
    text-shadow: none;
}

.hover\:scale-102:hover {
    transform: scale(1.02);
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.duration-300 {
    transition-duration: 300ms;
}